#filterField, #scheduleListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: transparent, #383838, transparent, #383838;
    -fx-background-radius: 0;
}

#scheduleMessageContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}
